{
  "openapi": "3.0.0",
  "info": {
    "title": "Zlnk",
    "version": "1.0",
    "contact": {
      "url": "https://zlnk.io/home"
    }
  },
  "servers": [
    {
      "url": "https://zlnk.io"
    }
  ],
  "paths": {
    "/publicapi/services/link": {
      "get": {
        "summary": "Retrieve list of links",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "long_url": {
                            "type": "string"
                          },
                          "short_id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "boolean"
                          },
                          "friendlyName": {
                            "type": "string"
                          },
                          "linkTags": {
                            "type": "string",
                            "items": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "smartParams": {
                            "type": "string"
                          },
                          "autoExpire": {
                            "type": "string"
                          },
                          "autoExpireValue": {
                            "type": "integer"
                          },
                          "websiteIcon": {
                            "type": "string"
                          },
                          "autoExpireTarget": {
                            "type": "string"
                          },
                          "smartLink": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "hit_count": {
                            "type": "integer"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "internalLink": {
                            "type": "boolean"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "password": {
                            "type": "boolean"
                          },
                          "analyticPassword": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": [
                        {
                          "long_url": "https://www.zlnk.com/",
                          "short_id": "xAmbdhsf",
                          "status": true,
                          "friendlyName": "Zlnk Website",
                          "linkTags": [],
                          "smartParams": null,
                          "autoExpire": null,
                          "autoExpireValue": 0,
                          "websiteIcon": "",
                          "autoExpireTarget": null,
                          "smartLink": null,
                          "created_at": "2023-08-05T15:13:48.999Z",
                          "hit_count": 500,
                          "updated_at": "2023-08-05T15:15:27.779Z",
                          "internalLink": false,
                          "domain": "zlnk.io",
                          "password": false,
                          "analyticPassword": false
                        },
                        {
                          "long_url": "https://www.zlnk.com/",
                          "short_id": "2yUx1D",
                          "status": true,
                          "friendlyName": "Zlnk Website",
                          "linkTags": null,
                          "smartParams": null,
                          "autoExpire": null,
                          "autoExpireValue": 0,
                          "websiteIcon": "",
                          "autoExpireTarget": null,
                          "smartLink": null,
                          "created_at": "2023-08-05T15:16:39.276Z",
                          "hit_count": 50,
                          "internalLink": false,
                          "domain": "zlnk.io",
                          "password": false,
                          "analyticPassword": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-publicapi-services-link",
        "description": "Retrieve list of all links"
      },
      "post": {
        "summary": "Create a new link",
        "tags": [],
        "responses": {},
        "operationId": "post-publicapi-services-link",
        "description": "Create a new link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "link"
                ],
                "properties": {
                  "link": {
                    "type": "string",
                    "description": "Destination URL"
                  },
                  "friendlyName": {
                    "type": "string",
                    "description": "Friendly name"
                  },
                  "linkTags": {
                    "type": "string",
                    "description": "Tags comma separated"
                  },
                  "short_id": {
                    "type": "string",
                    "description": "Short link slug"
                  },
                  "autoExpire": {
                    "type": "string",
                    "description": "Auto expire"
                  },
                  "autoExpireTarget": {
                    "type": "string",
                    "description": "Auto expire target"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Domain of short link"
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://zlnk.io/",
          "description": ""
        }
      ],
      "parameters": []
    },
    "/publicapi/services/link/{link_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "link_id",
          "in": "path",
          "required": true,
          "description": "Link slug"
        }
      ],
      "get": {
        "summary": "Retrieve a link",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "long_url": {
                            "type": "string"
                          },
                          "short_id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "boolean"
                          },
                          "friendlyName": {
                            "type": "string"
                          },
                          "linkTags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "smartParams": {
                            "type": "string"
                          },
                          "autoExpire": {
                            "type": "string"
                          },
                          "autoExpireValue": {
                            "type": "integer"
                          },
                          "websiteIcon": {
                            "type": "string"
                          },
                          "autoExpireTarget": {
                            "type": "string"
                          },
                          "smartLink": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "hit_count": {
                            "type": "integer"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "internalLink": {
                            "type": "boolean"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "password": {
                            "type": "boolean"
                          },
                          "analyticPassword": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": [
                        {
                          "long_url": "https://www.zlnk.com/",
                          "short_id": "xfyhFsf",
                          "status": true,
                          "friendlyName": "Zlnk Website",
                          "linkTags": [],
                          "smartParams": null,
                          "autoExpire": null,
                          "autoExpireValue": 0,
                          "websiteIcon": "",
                          "autoExpireTarget": null,
                          "smartLink": null,
                          "created_at": "2023-08-05T15:13:48.999Z",
                          "hit_count": 500,
                          "updated_at": "2023-08-05T15:15:27.779Z",
                          "internalLink": false,
                          "domain": "zlnk.io",
                          "password": false,
                          "analyticPassword": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-publicapi-services-link-link_id",
        "description": "Retrieve a link"
      },
      "put": {
        "summary": "Update a link",
        "tags": [],
        "responses": {},
        "operationId": "put-publicapi-services-link-link_id",
        "description": "Update a link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "link": {
                    "type": "string",
                    "description": "Destination URL"
                  },
                  "friendlyName": {
                    "type": "string",
                    "description": "Friendly name"
                  },
                  "linkTags": {
                    "type": "string",
                    "description": "Tags"
                  },
                  "autoExpire": {
                    "type": "string",
                    "description": "Auto expire"
                  },
                  "autoExpireTarget": {
                    "type": "string",
                    "description": "Auto expire target"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a link",
        "tags": [],
        "responses": {},
        "operationId": "delete-publicapi-services-link-link_id",
        "description": "Delete a link"
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "authorization": {
        "name": "authorization",
        "type": "apiKey",
        "in": "header",
        "description": "Obtain your API key from https://zlnk.com/home/settings"
      }
    }
  },
  "security": [
    {
      "authorization": []
    }
  ]
}